@font-face {
  font-family: "FreckleFace-Regular";
  src: url("./gameassets/fonts/Freckle_Face/FreckleFace-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100vh;
  background: url("./gameassets/img/Heroimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}

.gameSection {
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 63px - 123px);
}
canvas {
  background-color: black;
  display: block;
}

.mainButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.startGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  position: relative;
}

.dpf {
  display: flex;
}

.dnone {
  display: none !important;
}

h1 {
  font-size: clamp(1rem, 7vw, 4rem);
  flex-wrap: nowrap;
  font-family: "FreckleFace-Regular";
  text-shadow: 2px 2px 2px rgb(236, 229, 230);
}

#soundmode,
#info,
#fullscreen,
#fullscreen img {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.iconSize{
height: 64px;
width: 64px;
}

dialog {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogImg {
  height: clamp(15.625rem, 30vw, 25rem);
  width: clamp(27.625rem, 40vw, 43.75rem);
}

.buttonLineWinOrLose {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.btnWinOrLose{
  border: none;
  cursor: pointer;
  height: 48px;
  width: 48px;
  background-color: #45b010;
  border-radius: 50%;
}


#burgerSoundmode,
#burgerFullscreen,
#burgerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.soundImg{
    height: 64px;
    width: 64px;
    background-size: cover;
}

.sound-on {
    background-image: url('gameassets/img/icons/soundOn.png');
    background-size: cover;
}

.sound-off {
    background-image: url('gameassets/img/icons/soundmute.png');
    background-size: cover;
}

.rotate90deg {
  transform: rotate(90deg);
}
.rotate180deg {
  transform: rotate(180deg);
}

.winOrLose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 720px;
  max-height: 480px;

}

.resultImage {
  max-width: 720px;
  max-height: 480px;
  opacity: 0.2;
  animation: fadeInWithScale 1s ease forwards;
  background-size: cover;

}

.fadeIn {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}


.restart {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  font-family: "FreckleFace-Regular";
  text-shadow: 2px 2px 2px rgb(223, 146, 30);
}

p {
  font-family: "FreckleFace-Regular";
  text-shadow: 2px 2px 2px rgb(223, 146, 30);
}

.loading-content {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loading-bar {
  width: 300px;
  height: 30px;
  background: #333;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px auto;
}

.loading-bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #ca8831, #c39d4a);
  width: 0%;
  transition: width 0.3s;
}

.golden-button {
  font-weight: 700;
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: "Avalors Personal Use";
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
  inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(
    160deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
    );
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
  inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}


.btn {
  width: clamp(8rem, 21vw, 13rem);
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
  linear-gradient(
    137.48deg,
    #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
    background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: clamp(0.6rem, 1vw, 0.75rem);
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

.gameWindow100 {
  width: 100vw !important;
  height: 100vh !important;
}


footer{
border-top: 3px solid rgba(0, 0, 0, 0.192);
background-color: #33333380;
padding: 6px 0px;
}

.footerLine{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonFooter{
  display:flex;
  justify-content: center;
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  width: 144px;
  border: silver 3px solid;
  padding: 8px 24px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white
}

.broder {
margin: 20px 80px;
}
.content_beg_1440px {
max-width: 1440px;
box-sizing: border-box;
margin: auto;
}
.closeBtnDialog{
  position: absolute;
  top: 4px; 
  right: 4px;
  background-color: transparent;
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
}

.closeBtnDialog img {
  height: clamp(2rem, 5vw, 3em);
  width: clamp(2rem, 5vw, 3rem);
}

/* ################################################################################################################# */
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInWithScale {
  from {
    opacity: 0.2;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 1025px) {
  footer,
  header {
    display: none;
  }
  .gameSection{
    height: calc(100vh);
  }
  .menuButton {
    display: none;
  }

  #burgerBtn{
    display: flex;
  }
  .burgerOutOfUI{
    top:84px
  }
}

@media only screen and (max-width: 720px) {
  .resultImage,
  .winOrLose,
  canvas {
    width: 100%;
  }
  main {
    height: calc(100vh - 97px);
  }
  .dialoCloseBtn img {
    height: 24px;
    width: 200px;
  }

  .soundImg{
    height: 48px;
    width: 48px;
  
  }
  .iconSize{
  height: 48px;
  width: 48px;
  }
    .buttonLineWinOrLose {
    top: 65%;
  }

}

@media only screen and (max-height: 480px) {
  .resultImage,
  .winOrLose,
  canvas {
    height: 99vh;
  }
  main {
    padding: 0px;
  }
  .dialoCloseBtn img {
    height: 28px;
    width: 150px;
  }
  .dialoCloseBtn {
    top: 76%;
  }

}

@media only screen and (max-height: 420px) {
.burgerMenu{
  top: 4px;
  left: 4px;
  height: 40px;
  width: 40px;
}
.burgerMenu img {
    width: 24px;
    height: 24px;
}


}

@media (pointer: fine) {

    #uiSwitchMobileDevice,
    #switchMobileDevice {
    display: none;
  }
  }
  
         