body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-image: url('./gameassets/img/game-background-image.png');

}

canvas{

    background-color: black;
}

h1 {
    font-size: 4rem;
    flex-wrap: nowrap;
    font-family: 'FreckleFace-Regular';
    text-shadow: 2px 2px 2px rgb(236, 229, 230);
}

@font-face {
font-family: 'FreckleFace-Regular';
src: url('./gameassets/fonts/Freckle_Face/FreckleFace-Regular.ttf') format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;
}

.headerLine{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    max-width: 750px;
}



#soundmode img,
#soundmode{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#fullscreen,
#fullscreen img {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;

}

.class{
    background-color: #ffb54d, #d33d17;
}