/* pad */



/* mobile */

.mobileBtnLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 8;
}
.mobileBtn img,
.mobileBtn {
  height: 48px;
  width: 48px;
  background-color: rgb(163 161 161 / 20%);
  border: none;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.mobileBtn:active {
  background-color: rgba(61, 61, 61, 0.2);
}

.mobilBtnfield {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.burgerInUI {
  position: absolute;
  display: flex;
  top: 120px;
  right: 0;
  width: 100px;
  border-radius: 12px 0 0px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;
  z-index: 9;
  animation: slideInFromRight 0.4s ease-out forwards;
}

#burgerBtnInCanvas{
position: absolute;
height: 48px;
width: 48px;
top: 12px;
right: 12px;
background-color: transparent;
border: none;
z-index: 10;
cursor: pointer;
}

#burgerBtnInCanvas img,
.burgerMenu img {
  width: 32px;
  height: 32px;
}

.burgerIcon {
  height: 64px;
  width: 64px;
}

.burgerMenu {
  display: flex;
  position: absolute;
  top: 16px;
  left: 16px;
  height: 48px;
  width: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.burgerOutOfUI {
    position: absolute;
    display: flex;
    top: 200px;
    left: 0;
    width: 100px;
    border-radius: 0 12px 12px 0;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    z-index: 9;
    animation: slideInFromLeft 0.4s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }}

@keyframes slideInFromRight {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@media (pointer: coarse) {
.switchMobileDevice {
    position: absolute;
    display: flex;
    background-color: #212121;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(1rem, 8vw, 4rem);
    font-family: "FreckleFace-Regular";
    z-index: 9999;
  } 
}

.MobileBtnFullscreen{
      position: absolute;
    bottom: 0px;
    justify-content: space-between;
    width: 100vw;
}

#burgerBtn,
#hud {
        display: none;
  }


@media (pointer: coarse) {
    #burgerBtn,
    #hud {
        display: flex;
    }
  }

@media only screen and (max-width: 1025px) {
  .burgerOutOfUI{
    top:84px;
    gap: 8px;
    padding: 16px
  }

  .burgerMenu {
    top: 4px;
    left: 4px;

}
  .iconSize,
  .burgerIcon,
  .soundImg {
    height: 48px;
    width: 48px;

}
}
@media only screen and (max-Height: 600px) {

#mobileBtn {
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 5px;
    width: 100%;
}
.mobileBtnLine {
width: 100vw;
}
}

@media only screen and (max-Height: 400px) {

.burgerInUI {
    top: 60px;
}
}
